body {
  background-color: #405BFF;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in-out;
}

.container{
  display: flex;
  background-color: #191919;
  width: 32em;
  padding: 32px;
  margin: 5vh;
  box-shadow: 16px 16px rgba(33, 33, 33, 0.7);
  border-radius: 25px;
  flex-direction: column;
  justify-content: space-evenly;
}

.timercontainer{
  background-color: #212121;
  border-radius: 25px;
  font-size: 128px;
  text-align: center;
  margin: 10%;
}

.squarecontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.square{
  transition: all 0.2s ease-in-out;
  background-color: #212121;
  border-radius: 25px;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  font-size: 32px;
}

button{
  transition: all 0.2s ease-in-out;
  border: none;
} 

button:hover {
  background-color: #212121; 
}

button:active {
  transition: all 0.1s ease-in-out;
  background-color: #191919;
}

input{
  border: none;
  text-align: center;
  color: #FFFFFF;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus{
  outline: none;
}

.yellow{
  background-color: #EBFF38;
}

.grey{
  background-color: #212121;
}

.blue{
  background-color: #405BFF;
}